<!DOCTYPE html>
<html>
  <head>
    <meta content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0， minimal-ui" name="viewport">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

    <!-- uikit CDN -->
    <link rel="stylesheet" href="//cdn.bootcss.com/uikit/2.25.0/css/uikit.css" />
    <script src="//cdn.bootcss.com/uikit/2.25.0/js/uikit.js"></script>

    <!-- fontawesome CDN -->
    <%# <script src="//use.fontawesome.com/24a270d8a1.js"></script>%>
    <title><%= blog.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/components/notify.min.css' />
    <script type="text/javascript" src="/javascripts/components/notify.min.js">

    </script>
  </head>
  <body>
    <%- include('_navbar') %>
    <hr>
