<div class="uk-grid">
  <div class="uk-container-center">
    <span>
      <a href="/">HOME</a>
    </span>
    <span>
      /
    </span>
    <span>
      <a href="/posts">POST</a>
    </span>
  </div>
</div>
