<%- include('_header') %>

<!-- Codemirror 和 marked 依赖 -->
<link rel="stylesheet" href="/codemirror/lib/codemirror.css">
<script src="/codemirror/lib/codemirror.js"></script>
<script src="/codemirror/mode/markdown/markdown.js"></script>
<script src="/codemirror/addon/mode/overlay.js"></script>
<script src="/codemirror/mode/xml/xml.js"></script>
<script src="/codemirror/mode/gfm/gfm.js"></script>
<script src="/marked/lib/marked.js"></script>

<!-- HTML 编辑器的 CSS 与 JavaScript -->
<link rel="stylesheet" href="/stylesheets/htmleditor.css">
<script src="/javascripts/htmleditor.js"></script>

<link rel="stylesheet" href="/stylesheets/create_post.css">

<form class="uk-form uk-form-horizontal" action="/posts/create" method="POST">
  <div class="uk-form-row">
    <label for="title" class="uk-form-label">Title</label>
    <div class="uk-form-controls">
      <div class="uk-grid">
        <div class="uk-width-1-2">
          <input type="text" name="title" placeholder="Title">
        </div>
        <div class="uk-width-1-2">
          <button type="submit" name="button" class="uk-button-success save">Save</button>
        </div>
      </div>
    </div>
  </div>

  <div class="uk-form-row">
    <label for="published" class="uk-form-label">Published</label>
    <div class="uk-form-controls">
      <input type="checkbox" name="published" value="true">
    </div>
  </div>

  <div class="uk-form-row">
    <label for="content" class="uk-form-label">Content</label>
    <div class="uk-form-controls">
      <textarea name="content" rows="8" cols="80" data-uk-htmleditor="{markdown:true}"></textarea>
    </div>
  </div>
</form>


<%- include('_footer') %>
