<%- include('_header') %>

<%- include('_create_edit') %>

<script type="text/javascript" src="/javascripts/common.js"></script>
<link rel="stylesheet" href="/stylesheets/create_post.css">

<form class="uk-form uk-form-horizontal" action="/posts/edit" method="POST">
  <%- include('_create_post_form') %>
</form>

<%- include('_footer') %>
