<%- include('_header') %>

<link rel="stylesheet" href="/stylesheets/components/form-password.min.css">
<script type="text/javascript" src="/javascripts/components/form-password.min.js"></script>

<div class="uk-grid">
  <div class="uk-container-center">
    <form class="uk-form uk-width-medium-1-3" action="/signup" method="post">
      <fieldset>
        <legend>Sign Up</legend>
        <div class="uk-form-row">
          <label for="name" class="uk-form-label">Name</label>
          <div class="uk-form-controls">
            <input type="text" name="name" required="required" placeholder="name" autofocus="autofocus">
          </div>
        </div>

        <div class="uk-form-row">
          <label for="email" class="uk-form-label">Email</label>
          <div class="uk-form-controls">
            <input type="email" name="email" required="required" placeholder="email" autofocus="autofocus">
          </div>
        </div>

        <div class="uk-form-row">
          <label for="password">Password</label>
          <div class="uk-form-controls uk-form-password">
            <input type="password" name="password" required="required" placeholder="password">
            <a href="" class="uk-form-password-toggle" data-uk-form-password>show</a>
          </div>
        </div>
        <div class="uk-form-row">
          <label for="password_confirm">Confirm Password</label>
          <div class="uk-form-controls uk-form-password">
            <input type="password" name="password_confirm" value="" placeholder="confirm password">
            <a href="" class="uk-form-password-toggle" data-uk-form-password>show</a>
          </div>
        </div>
        <div class="uk-form-row">
          <button class="uk-button-success" type="submit" name="button">Sign Up</button>
          <a class="uk-button-primary" href="/signin">Sign In</a>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<%- include('_footer') %>
